
/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

LOCK TABLES `availability` WRITE;
/*!40000 ALTER TABLE `availability` DISABLE KEYS */;
INSERT INTO `availability` (`id`, `user_id`, `date`, `prayer_time`, `is_available`, `reason`, `created_at`, `updated_at`) VALUES (1,3,'2025-11-17','Subuh',0,'demam','2025-11-14 13:23:09','2025-11-14 13:23:09');
INSERT INTO `availability` (`id`, `user_id`, `date`, `prayer_time`, `is_available`, `reason`, `created_at`, `updated_at`) VALUES (2,3,'2025-11-17','Zohor',0,'demam','2025-11-14 13:23:09','2025-11-14 13:23:09');
INSERT INTO `availability` (`id`, `user_id`, `date`, `prayer_time`, `is_available`, `reason`, `created_at`, `updated_at`) VALUES (3,3,'2025-11-18','Subuh',0,'kerja','2025-11-14 13:24:00','2025-11-14 13:24:00');
/*!40000 ALTER TABLE `availability` ENABLE KEYS */;
UNLOCK TABLES;

LOCK TABLES `prayer_times` WRITE;
/*!40000 ALTER TABLE `prayer_times` DISABLE KEYS */;
INSERT INTO `prayer_times` (`id`, `name`, `display_order`) VALUES (1,'Subuh',1);
INSERT INTO `prayer_times` (`id`, `name`, `display_order`) VALUES (2,'Zohor',2);
INSERT INTO `prayer_times` (`id`, `name`, `display_order`) VALUES (3,'Asar',3);
/*!40000 ALTER TABLE `prayer_times` ENABLE KEYS */;
UNLOCK TABLES;

LOCK TABLES `schedules` WRITE;
/*!40000 ALTER TABLE `schedules` DISABLE KEYS */;
INSERT INTO `schedules` (`id`, `date`, `prayer_time`, `imam_id`, `bilal_id`, `week_number`, `year`, `is_auto_generated`, `created_by`, `modified_by`, `created_at`, `updated_at`) VALUES (666,'2025-11-12','Subuh',14,5,46,2025,1,2,NULL,'2025-11-15 06:32:39','2025-11-15 06:32:39');
INSERT INTO `schedules` (`id`, `date`, `prayer_time`, `imam_id`, `bilal_id`, `week_number`, `year`, `is_auto_generated`, `created_by`, `modified_by`, `created_at`, `updated_at`) VALUES (667,'2025-11-12','Zohor',15,24,46,2025,1,2,NULL,'2025-11-15 06:32:39','2025-11-15 06:32:39');
INSERT INTO `schedules` (`id`, `date`, `prayer_time`, `imam_id`, `bilal_id`, `week_number`, `year`, `is_auto_generated`, `created_by`, `modified_by`, `created_at`, `updated_at`) VALUES (668,'2025-11-12','Asar',16,25,46,2025,1,2,NULL,'2025-11-15 06:32:39','2025-11-15 06:32:39');
/*!40000 ALTER TABLE `schedules` ENABLE KEYS */;
UNLOCK TABLES;

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` (`id`, `name`, `email`, `password`, `role`, `phone`, `is_active`, `created_at`, `updated_at`) VALUES (1,'Admin','admin@isar.com','$2a$10$8IExknSmqMJndM6ZHiSA1uuujsU2oMWfB/4PadJMTADuHcjGvhTpG','admin','0123456789',1,'2025-11-14 07:34:34','2025-11-14 07:45:18');
INSERT INTO `users` (`id`, `name`, `email`, `password`, `role`, `phone`, `is_active`, `created_at`, `updated_at`) VALUES (2,'Ketua Imam','headimam@isar.com','$2a$10$xO6UkPyR6LVUowq93R2k1OJ4HxknXi/w9PmxK1a4YbGrUx7.IJBiK','head_imam','0123456780',1,'2025-11-14 07:34:34','2025-11-15 07:09:22');
INSERT INTO `users` (`id`, `name`, `email`, `password`, `role`, `phone`, `is_active`, `created_at`, `updated_at`) VALUES (3,'Ust Wan Najran Bin Wan Mohd Noh','imam1@isar.com','$2a$10$m9JRCuc/fb7zQ1YEuGHlJ.crM2oMpBr65LW0pLhec9cHTfDJEIGBS','imam','0123456781',1,'2025-11-14 07:34:34','2025-11-15 07:09:50');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

